/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}
  .side-nav li:hover{
    background:#ab47bc;
  }
    .side-nav li a:hover{
     color:white !important;
  }
  .woo{
    background: #f50057;
    color:white;
  }
nav ul li a:hover{
  background:#ab47bc; 
  color:white !important;
}
nav ul li:nth-child(4):hover,nav ul li:nth-child(5):hover{
  background:white; 
}
p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
 .input-field input[type=date]:focus + label,.input-field input[type=text]:focus + label, .input-field label, .input-field .prefix.active  {
     color: #ab47bc ;
   }
    .input-field input[type=text]:focus {
     border-bottom: 1px solid #ab47bc;
     box-shadow: 0 1px 0 0 #ab47bc;
   }
  .parallax-container .section {
    width: 100%;
  }
  input,select{
      border-left: 0px solid transparent;
  border-right: 0px solid transparent;
  border-top: 0px solid transparent;
  border-bottom: 3px solid #ab47bc;
  }
  #reg{
      background-color: rgba(255,255,255,0.7);
  padding: 50px;
  border: 1px solid #eee;
  border-radius: 10px;
  }
  #login{
    width:50%;
    margin-left: auto;
    margin-right: auto;
  }
  select.browser-default{
    background-color: transparent;
  }
input[type="submit"] {
  color: white;
  text-transform: uppercase;
  background-color: transparent;
  border: 0;
  font-style: normal;
}
@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}


.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
}